//colors
$black: rgba(45, 46, 44, 1);
$dark-grey: rgba(60, 60, 59, 1);
$grey: rgba(184, 184, 184, 1);
$lt-grey: rgba(231, 231, 231, 1);
$vlt-grey: rgba(247, 247, 247, 1);
$white: rgba(252, 252, 252, 1);
$brand-blue: rgba(140, 206, 205, 1);

//sidebar-width
$expanded: 250px;
$not-expanded: 64px;

// breakpoints
$xs: 0;
$sm: 600;
$md: 960;
$lg: 1280;
$xl: 1920;
